
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#pic {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    max-height: 100vh;
}

#button {
    position: absolute;
    height: 60px;
    width: 140px;
    background-color: rgb(226, 37, 37);
    color: white;
    font-size: 18px;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.3s ease;
}


@media (max-width: 768px) {
    #button {
        height: 50px;
        width: 120px;
        font-size: 16px;
        padding: 10px;
        justify-content: space-between;
    }
}

/* ✅ Mobile Screens (480px tak) */
@media (max-width: 480px) {
    #button {
        height: 45px;
        width: 110px;
        font-size: 14px;
        padding: 8px;
        border-radius: 10px;
    }
}