
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(238, 224, 224);
}

.center {
    display: flex;
    
}

#pic {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100dvh;
}

#button {
    position: absolute;
    height: 10vh;
    width: 16vw;
    background-color: rgb(226, 65, 37);
    color: white;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
    border: 2px solid rgb(16, 20, 17);
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
    margin-top: 30rem;
    margin-left:20rem;
}


@media (max-width: 768px) {

    #pic {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100vw;
        min-height: 100vh;
    }
    #button {
        height: 60px;
        width: 140px;
        font-size: 16px;
      
    }
}

@media (min-width: 480px) {
    #button {
        display: block;
        height: 60px;
        width: 140px;
        font-size: 16px;
        padding: 10px;
        border-radius: 10px;
       

    }
    #pic {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;
}
}